#header{
    border: 3px solid black;
}

#right{

    background-color: rgb(228, 222, 222);
    width: 25%;
    float: right;
    height: 300px;
    text-align: center;
    line-height: 200px;
}


#middel{


    margin: auto 0px;
    padding: 10px;
}


#img{

    margin-top: 10px;
}